@import "~/.config/rofi/config.rasi"

configuration {
  show-icons: false;
  sidebar-mode: false;
  hover-select: true;
  me-select-entry: "";
  me-accept-entry: [MousePrimary];

  dmenu {
    display-name: "󰀂";
  }
}

inputbar {
  children: [prompt, textbox-prompt-colon, entry];
}

textbox-prompt-colon {
  expand: false;
  margin: 0;
  str: ":";
}
